<!-- skills section design -->
<section class="skills" id="skills">
  <div class="container__skills">
    <app-section-title
    sectionTitleH2 = "My"
    sectionTitleSpan = "Skills"
    ></app-section-title>
    <div class="skills-row">
        <div class="skills-column">
            <h3 class="title">Coding Skills<span class="animate scroll" style="--i:2;"></span></h3>

            <div class="skills-box">
                <div class="skills-content">
                    <app-progress-bar typeSkill ="HTML" knowledgePercent ="90%"></app-progress-bar>
                    <app-progress-bar typeSkill ="CSS" knowledgePercent ="80%"></app-progress-bar>
                    <app-progress-bar typeSkill ="JavaScript" knowledgePercent ="65%"></app-progress-bar>
                    <app-progress-bar typeSkill ="Python" knowledgePercent ="75%"></app-progress-bar>
                </div>

                <span class="animate scroll" style="--i:3;"></span>
            </div>
        </div>

        <div class="skills-column">
            <h3 class="title">Professional Skills<span class="animate scroll" style="--i:5;"></span></h3>

            <div class="skills-box">
                <div class="skills-content">
                    <app-progress-bar typeSkill ="Web Desig" knowledgePercent ="90%"></app-progress-bar>
                    <app-progress-bar typeSkill ="Web Development" knowledgePercent ="80%"></app-progress-bar>
                    <app-progress-bar typeSkill ="Graphic Desig" knowledgePercent ="65%"></app-progress-bar>
                    <app-progress-bar typeSkill ="SEO Marketing" knowledgePercent ="75%"></app-progress-bar>

                  <span class="animate scroll" style="--i:6;"></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
