<!-- about section design  -->
<section class="about" id="about">
  <!-- <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span> </h2> -->
  <app-section-title
  sectionTitleH2 = "About"
  sectionTitleSpan = "Me"
  ></app-section-title>

  <div class="about-img">
      <img src="https://naejshaw.github.io/Portfolio-1/images/about.jpg" alt="">
      <span class="circle-spin"></span>
      <span class="animate scroll" style="--i:2;"></span>
  </div>

  <div class="about-content">
      <h3>Frontend Developer<span class="animate scroll" style="--i:3;"></span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veritatis distinctio, modi iste nostrum labore autem. Soluta repellendus accusamus, doloremque ratione nam tempora hic pariatur, ad quae expedita, sapiente nisi!<span class="animate scroll" style="--i:4;"></span></p>

      <app-button btnContent="Read More"></app-button>
  </div>
</section>
