.progress{
  padding: 1rem 0;
}

.progress h3{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.progress h3 span{
  color: var(--text-color);
}

.progress .bar{
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.progress .bar span{
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
}

