<!-- education section design -->
<section class="education" id="education">
  <app-section-title
  sectionTitleH2 = "My"
  sectionTitleSpan = "Journey"
  ></app-section-title>
  <div class="education-row">
      <div class="education-column">
          <h3 class="title">Education<span class="animate scroll" style="--i:2;"></span></h3>

          <div class="education-box">
              <app-education-content-card
              cardDate="2017-2018"
              roleInfo="Master Degree"
              localInfo="University"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>
              <app-education-content-card
              cardDate="2018-2019"
              roleInfo="Master Degree"
              localInfo="University"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>
              <app-education-content-card
              cardDate="2019-2020"
              roleInfo="Master Degree"
              localInfo="University"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>

              <span class="animate scroll" style="--i:3;"></span>
          </div>
      </div>

      <div class="education-column">
          <h3 class="title">Experience<span class="animate scroll" style="--i:5;"></span></h3>

          <div class="education-box">
              <app-education-content-card
              cardDate="2017-2018"
              roleInfo="Web Developer"
              localInfo="Company"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>
              <app-education-content-card
              cardDate="2018-2019"
              roleInfo="Web Developer"
              localInfo="Company"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>
              <app-education-content-card
              cardDate="2019-2020"
              roleInfo="Web Developer"
              localInfo="Company"
              contentInfo="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat reprehenderit quidem quia eos dolor possimus cumque. Molestias tenetur odit dolorum."
              ></app-education-content-card>


              <span class="animate scroll" style="--i:6;"></span>
          </div>
      </div>
  </div>
</section>
