<!-- home section design -->
<section class="home show-animate" id="home">
  <div class="home-content">
      <h1>Hi, I'm <span>Jean Felipe</span><span class="animate" style="--i:2;"></span></h1>
      <app-text-animate textContent="Frontend Developer"></app-text-animate>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora perferendis commodi illum atque a soluta libero et quas placeat, molestiae possimus sunt ut. Sint, sapiente velit! Ullam sapiente veniam minus!<span class="animate" style="--i:4;"></span></p>

      <div class="btn-box">
          <app-button btnContent="Hire Me"></app-button>
          <app-button btnContent="Let's Talk"></app-button>
          <span class="animate" style="--i:5;"></span>
      </div>
  </div>

  <app-social-media></app-social-media>
  <div class="home-imgHover"></div>
  <span class="animate home-img" style="--i:7;"></span>
</section>
