.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 9%;

  background: url('https://github.com/naejshaw/teste/blob/main/images/home.jpg?raw=true') no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content{
  max-width: 60rem;
  z-index: 99;
}

.home-content h1{
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span{
  color: var(--text-color);
}

.home-content p{
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.home-imgHover{
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover{
  background: #081b29;
  opacity: .8;
}

.animate.home-img{
  width: 50%;
}

