<div class="home-sci">
  <a href="#"><app-social-media-icon socialMedia="facebook"></app-social-media-icon></a>
  <a href="#"><app-social-media-icon socialMedia="instagram"></app-social-media-icon></a>
  <a href="#"><app-social-media-icon socialMedia="linkedin"></app-social-media-icon></a>
  <a href="#"><app-social-media-icon socialMedia="github"></app-social-media-icon></a>
  <a href="#"><app-social-media-icon socialMedia="whatsapp"></app-social-media-icon></a>
  <span class="animate" style="--i:6;"></span>
</div>
